body {
  font-family: sans-serif;
}
.container {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

input {
  padding: 12px;
  width: 300px;
}
input:focus {
  box-shadow: 0 5px 35px rgb(228, 227, 227);
  outline-width: 0;
}

button {
  border: none;
  padding: 12px 24px;
  display: inline-block;
  margin: 0 12px;
  color: #fff;
  background-color: goldenrod;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgb(192, 140, 9);
  cursor: pointer;
}

ul {
  list-style: none;
}

.list-item {
  padding: 16px;
  border: 1px #222 solid;
  margin-bottom: 16px;
}
.list-item:hover {
  background-color: rgb(238, 228, 167);
  cursor: pointer;
}
